<%- include ("../partials/header") %>
<link rel="stylesheet" href="/font/Rimouski.css">
<div class="container">
    <div class="row">
        <div class="col-md-9">
            
            <div class="card">



                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <% car.images.forEach(function(img,i){ %>
                      <div class="carousel-item <%= i===0? 'active':' '%>">
                        <img src="<%= img.url %>" class="card-img-top d-block w-100" alt="...">
                      </div>
                      <%})%>
                    </div>
                    <% if(car.images.length>1) {%>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    <%}%>
                  </div>

                <div class="card-body">
                  <h4 class="pull-right">Rs.<%=car.price %></h4>
                  <h4 class="card-title"><a><%=car.name%></a></h4>
                  <h5 class="pull-right"><a><%=car.postcode%></a></h5>
                  <h5 class="card-title"><a><%=car.distance%> Miles</a></h5>

                  <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#carLikes">
                        <span>Total likes: <i class="fa fa-thumbs-up"></i> <%= car.likes.length %></span>
                    </button>
                </div>
                <div style="padding-bottom: 10px;">
                    <form action="/cars/<%= car._id %>/like" method="POST" class="show-form">
                        <div class="btn-group">
                            <% if (currentUser && car.likes.some(function (like) {
                                return like.equals(currentUser._id)
                            })) { %>
                            <button class="btn btn-sm btn-primary">
                                <i class="fa fa-thumbs-up"></i> Liked (<%= car.likes.length %>)
                            </button>
                            <% } else { %>
                            <button class="btn btn-sm btn-secondary">
                                <i class="fa fa-thumbs-up"></i> Like (<%= car.likes.length %>)
                            </button>
                            <% } %>
                            <div style="margin-left: 10px;">
                            <button type="button" class="btn btn-sm btn-danger " data-toggle="modal" data-target="#carLikes">See more details</button>
                            </div> 
                        </div>
                    </form>
                </div>

                <p><%= car.description %></p>
                <p>
                    <em>Owned by: <a href="/users/<%= car.author.id%>"><%= car.author.username %></a>, <%= moment(car.createdAt).fromNow() %></em>
                    <% if(currentUser&& car.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %> 
                    </p>
                    <a class="btn btn-warning " href="/cars/<%= car._id %>/edit">Edit</a>
                    
                    <form id="delete-form" action="/cars/<%= car._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            <%}%>
                </div>
              </div>
              <br> <br>

             <!--Review section-->
             <div class="card">
                <div class="card-body">
                    <% if (car.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (car.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (car.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (car.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (car.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= car.reviews.length %>)</em>
                    </p>
                    <p>
                        Current car rating: <strong><%= car.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this car:</h4></p>
                    <hr style="margin-top: 0;">
                    <% car.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning"
                               href="/cars/<%=car._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/cars/<%=car._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h5><a href="/cars/<%= car._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h5>
                    </div>
                    <% } %>
                    <div>
                <a class="btn btn-primary btn-md <% if (currentUser && car.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/cars/<%= car._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
            <br> <br>

           <!-- <div class="well">
                <div class="text-right">
                    <a href="/cars/<%=car._id%>/comments/new" class="btn btn-success">Add Comment</a>
                </div>
                    <% car.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%=comment.author.username%></strong>
                                <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <p>
                                <%=comment.text%>
                               </p>
                               <% if(currentUser&& comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %> 
                               <div class="pull-right">
                                <a href="/hotels/<%=hotel._id%>/comments/<%=comment._id%>/edit" 
                                class="btn btn-xs btn-warning">
                                Edit
                            </a>
                            <form id="delete-form" action="/cars/<%=car._id%>/comments/<%=comment._id%>?_method=DELETE"method="POST">
                                 <button class="btn btn-xs btn-danger" type="submit"> Delete</button>
                            </form>
                        </div>
                       <% } %>
                            </div>
                        </div>
                       <%});%>
                       </div> -->
            </div>
        </div>
    </div>
  <!-- Car Likes Modal -->
<div class="modal fade" id="carLikes" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Car likes: <%= car.likes.length %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% car.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fa fa-user"></i></span> <%= like.username%></td>
                        </tr>
                    <% }); %>
                    <% if (car.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<%- include ("../partials/footer") %>



